@import "tailwindcss";


@theme {
  --color-light-100: #90A1B9;
  --color-light-200: #f1f5f9;
  --color-light-300: #f8fafc;
  --color-light-400: #62748e;
  --color-light-500: #e2e8f0;

  --color-dark-500: #009689;
  --color-dark-800: #1c2024;
}

@layer base {
  h1 {
    @apply text-[30px] font-medium;
  }

}

@layer components { 
  .flex-between {
    @apply flex items-center justify-between;
  }
  .flex-col {
    @apply flex flex-col items-center;
  }

  .card {
    @apply bg-white border-2 border-light-500 w-62.5 p-3 rounded
  }
}


@utility h3-medium {
  @apply text-sm font-normal text-light-400;
}
